<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>AJ-Workflow-{{title}}</title>
        <meta name="description" content="AJ-Workflow 轻量级工作流引擎 {{description}}"/>
        <meta name="keywords" content="AJ Utils, ajaxjs, ajaxjs framework, java utilities, tools, helper, {{tags}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap&family=Noto+Sans+SC:wght@100..900&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" /> 
        <link rel="stylesheet" href="https://framework.ajaxjs.com/static/font/font.css" />
        <link rel="stylesheet" href="/asset/main.css"/>
        <script src="https://framework.ajaxjs.com/static/aj-docs/common.js"></script>
        <link rel="icon" type="image/x-icon" href="https://framework.ajaxjs.com/aj-logo/logo.ico"/>
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?6de0e75dc394340db7a74269377e06c7";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>
    <body>
        <nav>
            <div>
                <div class="links">
                    <a href="/">🏠 Home</a>
                    | ⚙️ Source:
                    <a target="_blank" href="https://github.com/lightweight-component/aj-workflow">Github</a>/<a target="_blank" href="https://gitcode.com/lightweight-component/aj-workflow">Gitcode</a>
                   | <a  href="/cn">Chinese Version</a>
                </div>
                <h1>
                    <img src="https://framework.ajaxjs.com/aj-logo/logo.png" style="vertical-align: middle;height: 45px;margin-bottom: 6px;" />
                    AJ-Workflow
                </h1>
                <h3>轻量级工作流引擎</h3>
            </div>
        </nav>
        <div>
            <menu>
                <h3>AJ-Workflow 简介</h3>
                <ul>
                    <li class="selected">
                        <a href="/">简介</a>
                    </li>
                </ul>
                <h3>安装</h3>
                <ul>
                    <li class="data">
                        <a href="/common/BytesHelper/">下载与源码</a>
                    </li>
                    <li>
                        <a href="/common/ConvertBasicValue/">配置</a>
                    </li>
                </ul>
                <h3>使用方法</h3>
                <ul>
                    <li class="data">
                        <a href="/io/FileHelper/">基本概念</a>
                    </li>
                    <li>
                        <a href="/io/Resources/">操作入门</a>
                    </li>
                </ul>
            </menu>
            <article>
                {{ content | safe }}
            </article>
        </div>

       <footer>
            AJ Workflow, a part of <a href="https://framework.ajaxjs.com" target="_blank">AJ-Framework</a> open source. Mail:
            frank@ajaxjs.com, visit <a href="https://blog.csdn.net/zhangxin09" target="_blank">my blog(In Chinese)</a>.
            <br />
            <br />
            Copyright © 2025 Frank Cheung. All rights reserved.
        </footer>
    </body>
</html>